# Docker compose files
docker-compose.test*
!scripts/.env
!openstack/.env
# ignore static files
build/dashboard/app/vendor
build/dashboard/tools/
tools/*
!tools/adminer.php
!tools/phpinfo.php
# ignore tmp or specific files
tmp*
myscripts*
.phpintel
.idea
data/www/drupal/composer.lock