image: docker:stable

services:
  - docker:dind

stages:
  - build
  - test
  - release

################################################################################
# Templates to avoid repeat.
# https://docs.gitlab.com/ee/ci/yaml/#anchors
################################################################################

################################################################################
# Jobs based on previous templates.
# Only variables need to be changed if needed.
################################################################################

build:
  stage: build
  script:
    - apk --no-cache add make gettext
    - make build

test php 7.1:
  stage: test
  dependencies:
    - build
  script:
    - apk --no-cache add make gettext bash python3
    - python3 -m ensurepip
    - pip3 install --upgrade pip setuptools
    - if [ ! -e /usr/bin/pip ]; then ln -s pip3 /usr/bin/pip; fi
    - if [[ ! -e /usr/bin/python ]]; then ln -sf /usr/bin/python3 /usr/bin/python; fi
    - pip install 'docker-compose'
    - make up
    - docker exec dcd-php php -v

test php 7.2:
  stage: test
  dependencies:
    - build
  script:
    - apk --no-cache add make gettext bash python3
    - python3 -m ensurepip
    - pip3 install --upgrade pip setuptools
    - if [ ! -e /usr/bin/pip ]; then ln -s pip3 /usr/bin/pip; fi
    - if [[ ! -e /usr/bin/python ]]; then ln -sf /usr/bin/python3 /usr/bin/python; fi
    - pip install 'docker-compose'
    - sed -i 's#7.1#7.2#g' .env
    - make up
    - docker exec dcd-php php -v

release:
  stage: release
  script:
    - echo "ok"
  only:
    - master
